@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
.gallery-image img {
    width: 100%;
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
}
header .header-banner {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
header h1 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 50px;
    color: black;
    line-height: 70px;
    text-transform: uppercase;
}
header h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
}
hr {
    color: #4f5663;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
}
header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
}  
header nav ul li {
    display: inline-block;
    padding: 16px 16px;
}
nav ul li a, section h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;  
}
main section h2 {
    padding-bottom: 20px;
}
.container, section {
    width: 100%;
    margin: 0 auto;
}
main section {
    margin-top: 32px;
    margin-bottom: 32px;
}
.container img {
    width: 100%;
}
.about, .gallery {
    width: 85%;
}
.about img {
    width: 50%;
    padding-left: 40px;
}
.about-flex {
    display: block;
}
.about-flex img {
    display: none;
}
.about-flex p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: black;
    line-height: 24px;
    opacity: 0.7;
    max-width: 100%;
}
.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}
.gallery-image {
    margin: 10px;
    position: relative;
    text-align: center;
} 
.img-container {
    width: 300px;
    height: 300px;
}
.post-header {       
    
    /*kujundus*/
    
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    
       /*positsioneerimine*/
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
footer {
    font-family: "Open Sans", sans-serif;
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #172029;
    margin-top: 20px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-sm {
    width: 32px;
    float: right;    
}
    
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 950px) {
    .about-flex p {
        max-width: 50%;
    }
    header h1 a {
        font-size: 80px;
    }  
  
    header h2 {
        font-size: 24px;
        margin-top: 20px;
    }
  
    header nav ul li {
         padding: 16px 42px;
    }
    hr {
        display: none;
    }
    .about-flex img {
        display: block;
    }
    .about-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
